#*
*.sublime-*
*~
.#*
.project
.settings
.DS_Store
/dist/*.gz
/dist/*.zip
/dist/version.json
/dist/tutorial_tmp
/tuqtng
/tuq_client/tuq_client
/tuq_client/tmp
/tutorial/tutorial
/parser/goyacc/parser_debug/parser_debug
cbq-engine
/cbq/cbq
